.header {
  padding: 35px;
  background-color: #fff;

  &__top {
    display: flex;
    align-items: center;
  }
  &__title {
    font-family: "Pacifico", sans-serif;
    font-size: 33px;
    font-weight: 400;
    line-height: 40px;
  }

  &__items {
    display: flex;
    margin-left: 500px;
    gap: 40px;

    a {
      color: #6c6c6c;

      &:hover {
        color: #ac1313;
      }
    }
  }

  &__foto {
    margin-left: 20px;
    color: #000;
  }
}
